body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.header {
  padding: 1px;
  text-align: center;
  background: white;
  color: blue;
  font-size: 20px;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px #4900e6, 0 0 40px #7f00e6, 0 0 50px #7f00e6, 0 0 60px #8e00e6, 0 0 70px #cb00e6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #854dff, 0 0 40px #b54dff, 0 0 50px #a34dff, 0 0 60px #c14dff, 0 0 70px #d34dff, 0 0 80px #e44dff;
  }
}
* {
  box-sizing: border-box;
}
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
/* Showcase Area */
#showcase{
  background: url('../img/img2.jpg') no-repeat
  center center/cover;
  height: 600px;
  color: #fff;
}

.showcase-content{
  padding-top: 170px;
  color: #333;
}

.showcase-content h2{
 font-size: 60px;
 line-height: 1.9em;
}

.showcase-content p{
  font-size: 20px;
  margin-bottom: 20px;
}

.showcase-content .btn:hover{
  background: #4397EA;
  border: none;
  color:#fff;
  transition: all 0.3s;
}

/* About Section */

.about{
  height: 350px;
  margin-top: 40px;
}

.about h3{
  width: 100%;
  border-bottom: 2px solid  #ddd;
}

.about h3 span{
  background:  #ddd;;
  padding: 10px 22px;
  color: #333;
  text-align: center;
  display: inline-block;
}
/* Close */


#services h3{
  width: 100%;
  border-bottom: 0.5px solid #ddd;;
}

#services h3 span{
  background: #ddd;
  padding: 10px 22px;
  color: #333;
  text-align: center;
  display: inline-block;
}

#services .box{
  float: left;
  width: 33.33%;
  padding: 45px;
  text-align: center;
  margin: 30px 0px;
}

.bg-primary{
background: #265ede;
  color: #fff;
}

.light-gray{
  background: #ddd;
}

#services h2{
margin-bottom: 25px;
}

/* Author */

#authors h3{
  width: 100%;
  border-bottom: 0.5px solid #ddd;;
}

#authors h3 span{
  background: #ddd;
  padding: 10px 22px;
  color: #333;
  text-align: center;
  display: inline-block;
}

#authors{
  background: url('../img/img.jpg') no-repeat center;
  height: 600px;
  padding-top: 40px ;

}

.auth{
  float: left;
  height: 500px;
  width: 33%;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 20px 01px;
}

.auth img{
  border-radius: 50%;
}

.names{
  font-weight: bold;
  font-size: 18px;
}

/* Contact Us */
#contact h3{
  width: 100%;
  border-bottom: 0.5px solid #ddd;;
  margin-bottom: 35px;
}

#contact h3 span{
  background: #ddd;
  padding: 10px 22px;
  color: #333;
  text-align: center;
  display: inline-block;
}

#contact .form-group{
  margin-bottom: 20px;
}

.contact-form label{
  display: block;
  margin-bottom: 5px;
}

.contact-form input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

#contact textarea{
  height: 200px;
  width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus{
  outline: none;
  border-color: #265ede;
}


/* Footer */

#main-footer{
  background: #265ede;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color:#fff;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}